@import "font-awesome.min.css";

body {
    padding-top: 54px;
    padding-bottom: 40px;
    background-color: #eee;
    font-family: "Source Sans Pro", "Segoe UI", "Ubuntu", Helvetica, Arial, sans-serif;
}
.dashboard{
    padding-top: 0;
    padding-bottom: 0;
}
textarea{
    resize: none;
}
/*Edit Bootstrap*/
.edit-read-only.form-control[readonly]{
    cursor: pointer;
    background: #ffffff;
}
.pointer{
    cursor: pointer;
}
#profile-form{
    margin-top: 0.4em;
}
.form-group-lg.col-md-4,.form-group-lg.col-md-3, .form-group-lg.col-md-6{
    margin-bottom: 1.3em;
}
#login,#change-password{
    width: 50%;
    margin: 7em auto;
    padding: 1.4em 2em;
    border-radius: 0.5em;
}

.form-signin-heading{
    color: #337AB7;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-profile{
    background: #E5E5E5;
    border-radius: 0.5em;
    padding: 2em;

}

/*
---END OF EDIT BOOTSTRAP
*/

.navbar-right-text{
    padding: 1em;
    color: #428BCA;
}
#dashboard{
    box-shadow: inset 0 0 8px #E5E3E3;
    padding: 1.2em 3em;
    background: #FFF;
}
.dashboard-panels{
    margin: 2em 0;
}
a.dashboard-link:hover, a.dashboard-link:focus {
    text-decoration: none !important;
    font-weight: 500;
}
.dashboard-items{
    width: 90%;
    margin: 1.5em auto;
}
.dashboard-desc{
    color: #23527c;
    font-size: 1.2em;
    line-height: 2;
    margin: 0 0 1.4em 0;
}

/*
 * Dashboard add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: absolute;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;  /* Scrollable  contents if viewport is shorter than content.*/
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.form-inline div{
    margin-right: 10px;
}

.container-fluid{

}

.ui-draggable{
    z-index: 1000;
}

/**
    ---ROSTER VIEW
*/
.n-duty{
    padding: 0.4em;
    background: #3F3C3C;
    border: none;
    text-align: center;
    box-shadow: 1px 2px 2px #908585;

}
.a-duty{
    padding: 0.4em;
    background: #4CA618;
    border: none;
    margin-right: 0.4em;
    text-align: center;
    box-shadow: 1px 2px 2px #908585;
}
.m-duty{
    padding: 0.4em;
    border: none;
    margin-right: 0.4em;
    text-align: center;
    box-shadow: 1px 2px 2px #908585;

    /*background: #aaa;*/
}
#external-events .fc-event {
    cursor: pointer;
}
#calendar {
    width: 95%;
}
#roster-wrap{
    margin-top: 40px;
}
#rosterResponse{
    text-align: center;
    color: #4CA618;
    line-height: 0.4;
    font-size: 0.9em;
    height: 0.7em;
}
#roster_loading{
    text-align: center;
    font-size: 4em;
}
#external-events{
    padding: 0 1em;
}
.roster-list{
    /*background: #fff;*/
}
.roster-list_heading{
    border-radius: 0 0.6em 0 0em;
    padding: 0.3em;
    background: #428BCA;
    color: #F5F5F5;
    font-size: 1.3em;
    box-shadow: 0 1px 3px #494747;
    text-shadow: 0px 0px #FCFCFC;
    letter-spacing: 2px;
}
#roster-list_names{
    /*padding: 0.3em 1em;*/
    background: #fff;
}
.fc-event.ui-draggable.ui-draggable-handle{

}
.accordion-group{
    margin: 0.4em;
    border-bottom: solid thin #E0E0E0;
    padding: 0.4em 0 0;
}
#acc{
    margin-right: 2em;
}
a.accordion-toggle:hover, a.accordion-toggle:focus{
    text-decoration: none;
}
.accordion-toggle > h4{
    margin: 0;
}
.accordion-toggle > span{
    width: 100%;
    display: block;
    border-radius: 0 0.6em 0 0em;
    padding: 0.3em;
    background: #428BCA;
    color: #F5F5F5;
    box-shadow: 0 1px 3px #494747;
    font-size: 1.05em;
    text-shadow: 0px 0px #FCFCFC;
    letter-spacing: 2px;
}
.accordion-inner{
    background: #fff;
    padding: 0.4em;
    box-shadow: 1px 1px 3px #aaa;
}
.accordion-inner-head{
    background: url('../images/double_border.gif') repeat-x center center;
    margin: 10px 0;
    text-align: center;
}
.accordion-inner-head > h4{
    margin: 0em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    background: #EEE;
    color: #428BCA;
    display: inline;
    padding: 0.4em;
    border-radius: 0.3em;
    box-shadow: 1px 1px 1px #A0BCD5;
}

.staff, .staff-all{
    color: #000;
    text-transform: uppercase;
    border: solid thin #FFF;
    margin-bottom: 0.1em;
    box-shadow: 1px 1px 1px #7E7A7A;
}
.staff{
    padding: 0.3em;
}
.staff:nth-of-type(even), .staff-all:nth-of-type(even){
    background: #A8C5CF;
}
.staff:nth-of-type(odd), .staff-all:nth-of-type(odd){
    background: #B8DCE8;
}
.pin{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #F5F5F5;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.roster-sidebar {
    display: none;
}
@media (min-width: 768px) {
    .roster-sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .p_body{
        min-height: 60em;
        max-height: 80em;
        margin-top: 0;
        overflow-y: auto;
    }
}

/* Sidebar navigation */
.r-nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.r-nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.r-nav-sidebar > .active > a,
.r-nav-sidebar > .active > a:hover,
.r-nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.roster-form{
    /*position: relative;*/
    /*right: 2px;*/
    padding: 0;
    /*margin-right: 0.5em;*/
}
.roster-date{
    border:none;
}
.roster-form > h1 {
    margin: 0;
    display: inline;
    top: 6px;
    position: relative;
    margin-right: 10px;
    font-size: 1.3em;
}
.roster-form > input[type = 'text']{
    /*width: 15%;*/
    /*height: 40px;*/
    width: 90%;
    padding: 0.5em;
    border-radius: 0.4em;
    border: solid thin #fff;
}

.page {
    padding: 20px;
}

.btn-compose {
    margin-bottom: 10px;
}

.put-margin-top{
    margin-top: 20px;
}

/*
    PHARMACY PAGE
*/
.p-sidebar{
    background: #dddddd;


}
.p_body{
    max-height: 15em;
    overflow-y: auto;
}
.p-panel{
    background: #FFFFFF;
}
.p-heading{
    background: #428BCA;
    padding: 0.6em;
    color: #FFFFFF;
    box-shadow: 0px 1px 2px #BEC0BE;
}
.clearing_panel{
    /*border-left: solid thin #EDEDED;*/
}
.p-content{
    background: #FFFFFF;
    min-height: 60em;

}
.active_patient_heading{
    border-bottom: solid thin #EDEDED;
    margin-bottom: 0.9em;
}
.patients-list_item{
    cursor: pointer;
    padding: 0.3em 0.6em;
    margin: 0.2em 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px #BEC0BE;
}
.patients-list_item:first-of-type{
    margin-top: 0;
}
.patients-list_item:last-of-type{
    margin-bottom: 0;
}
.patients-list_item:hover{
    color: #428BCA;
}
.patients-list_item > h4{
    margin: 0;
    font-weight: 400;
}
.active_selected_patient{
    color: #428BCA;
    background: #D9EDF7;
}

.prescription-item{
    cursor: pointer;
}
.prescription-item:nth-of-type(2n){
    /*background: #F6FCFF;*/
}
.prescription-item.text-cancel{
    background: #EFEFEF;
    color: #797777;
}
.text-cancel{
    text-decoration: line-through;
}
.clearDrug{
    box-shadow: 1px 2px 2px #C3B6B6;
    background: #FFF;
    margin: 0.5em 0;
    padding: 0.4em;
}
.clearDrug h5{
    margin: 0em;
}
#response_msg{
    margin-top: 0.4em;
}
#clrPrescription{
    margin-left: 1.2em;
}

/* BEGIN _-----------------MESSAGE PAGE STYLES ------------------ BEGIN*/
.unread {
    font-weight: bold;
}

.message-list tr {
    cursor: pointer;
}

.disabled_msg_nav_icon {
    opacity: 0.25;
    cursor: not-allowed;
}

.msg-name, .msg-date {
    width: 14%;
}

.msg-actions {
    width : 5%;
}

.msg-message {
    width : 65%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.msg-action {
    margin-right: 1%;
    cursor: pointer;
}

.msg-status-indicator {
    cursor: default;
}

.message-list .msg-status-indicator {
    margin: 0% 45%;
}

.message-pane table {
    table-layout: fixed;
}

.msg-body {
    line-height: 30px;
}

.messages-back{
    margin: 0 0 20px 0;
}
/* END -------------------MESSAGE PAGE STYLES ------------------- END*/

/* Search bar at top of patient */
.patient-arrival .form-control{
    display: block;
    width: 40%;
    margin: 0 auto;
    vertical-align: middle;
}

.treatment .form-control{
    display: block;
    width: 50%;
    margin: 0 auto;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .patient-arrival .form-control {
        display: block;
        width: 70%;
        vertical-align: middle;
    }

    .page {
        padding: 50px;
    }
    .p-sidebar{

    }
}

.haematology {background-color: #F5DADF;}

.barX {
    margin: 0px 0px 20px 0;
    padding: 10px;
    border-radius:3px;
    border:1px #ccc solid;
    text-transform: capitalize;
    /*    font-weight: bold;*/
    box-shadow: 0 3px 5px #eee;
}

.grelet{
    background-color:rgb(233, 233, 233);
    border-radius: 2px;
    margin-top: 10px;
    font-size: 13px;
}
.pad5 {
    padding: 5px;
    margin-left: 60px;
}

.mask{display: none !important;}

.page-header .page-header__title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #333333;
    font-size: 2.15em;
    margin-top: 0.6644518274418605em;
    margin-bottom: 0.33222591372093024em;
}

.form-margin {
    margin-top: 5px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#field .tablet{
    width: 100%;
    font-size: .8em;
    color: #333;
    text-transform: uppercase;
    font-weight: normal;
    margin:0px;
    border: 0;
    padding: 0;
}

.test-label {
    font-weight: normal;
    color: #0088cc;
    text-transform: capitalize;
}

.haematology, .parasitology{
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#ffffff;
    border:1px solid #e3e3e3;border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}

.title {
    width: 100%;
    font-weight: 500;
    border-bottom-left-radius: 20px;
    color: #337AB7;
    padding: 10px;
    border-bottom: 1px solid #CCCCFF;
    text-transform: uppercase;
}

.submit-test {
    border-top: 1px solid #CCCCFF;
    margin-top: 20px;
}
.submit-test input[type=submit] {
    margin-top: 5px;
}

.pad {
    margin-left: 7px;
}

/*ADMISSION MODULE*/
.pending-list{
    height: 58em;
    max-height: 58em;
    overflow-y: auto;
}
.pending-list li.list-group-item{
    color: #2F6EA4;
    margin: 0.25em 0;
    border-radius: 0.3em;
    box-shadow: 0px 1px 1px #9CB2C4;
    font-size: 1.1em;
}
.patient-content{
    background: #F5F5F5;
    min-height: 60em;
}
.div-rounded{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #BEC2C4;
    margin: 0 auto;
    text-align: center;
    font-size: 4.5em;
    color: #FFF;
    margin-bottom: 0.2em;
}
.div-rounded.active#step-1{
    background: #8A6D3B;
}
.div-rounded.active#step-2{
    background: #BE7070;
}
.div-rounded.active#step-3 {
    background: #87C988;
}
.thin-separator{
    border-bottom: solid thin #DDD;
    margin: 0 25px;
}
#ward_chosen, #bed_chosen{
    margin: 0;
    padding: 0.3em;
}
#response{

}
#bed_chosen{
    margin-bottom: 0.3em;
}
#in-patient-content{
    margin: 0 auto;
}